services:
  # .NET API
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: builds-of-titans-net-api
    environment:
      DB_HOST: ${DB_HOST:-localhost}
      DB_PORT: ${DB_PORT:-5432}
      DB_NAME: ${DB_NAME:-BuildsOfTitans}
      DB_USERNAME: ${DB_USERNAME:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-postgres}
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
    ports:
      - "${API_PORT:-8080}:8080"
      - "${API_HTTPS_PORT:-8081}:8081"
    restart: unless-stopped
